In [24]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Set the executable path and initialize the chrome browser in splinter
executablePath = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executablePath)

In [3]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [4]:
html = browser.html
newsSoup = soup(html, 'html.parser')
slideElem = newsSoup.select_one('ul.item_list li.slide')

In [7]:
# News title object object
slideElem.find("div", class_='content_title')

<div class="content_title"><a href="/news/8724/nasa-ula-launch-mars-2020-perseverance-rover-mission-to-red-planet/" target="_self">NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet</a></div>

In [8]:
# Use the parent element to find the first `a` tag and save it as `news_title`
newsTitle = slideElem.find("div", class_='content_title').get_text()
newsTitle

'NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet'

In [10]:
# Use the parent element to find the paragraph text
newsP = slideElem.find('div', class_="article_teaser_body").get_text()
newsP

"The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021. "

## Featured Images

In [13]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [14]:

# Find and click the full image button
fullImageElem = browser.find_by_id('full_image')
fullImageElem.click()

In [15]:
# Find the more info button and click that
browser.is_element_present_by_text('more info', wait_time=1)
moreInfoElem = browser.links.find_by_partial_text('more info')
moreInfoElem.click()

In [19]:
# Parse the resulting html with soup
html = browser.html
imgSoup = soup(html, 'html.parser')

In [21]:
# Find the relative image url
imgUrlRel = imgSoup.select_one('figure.lede a img').get("src")
imgUrlRel

'/spaceimages/images/largesize/PIA11777_hires.jpg'

In [23]:
# Use the base URL to create an absolute URL
imgUrl = f"https://www.jpl.nasa.gov{imgUrlRel}"
imgUrl

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA11777_hires.jpg'

In [25]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [26]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
browser.quit()